.contacts {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 39px;
}

.contacts__container {
  width: 260px;
  margin: 0 auto;
}

.contacts__table {
  display: flex;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: left;
  padding-top: 6px;
  margin-bottom: 4px;
}

.contacts__value {
  display: flex;
  align-items: flex-start;
  padding: 18px 20px 10px 0;
}

.contacts__field,
.contacts__value {
  padding-right: 20px;
}

.contacts__field--email {
  padding: 11px 20px 1px 7px;
}

.contacts__field--adress {
  padding: 18px 36px 1px 8px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  margin: 0 5px 0 0;
}

.contacts__link {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #62d1ba;

  &:hover {
    color: #62d1ba;
  }

  &:focus {
    opacity: 0.3;
  }
}

.contacts__map {
  margin: 33px 0 32px 0;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-height: 457px;

  iframe {
    height: 457px;
    width: 100%;
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .contacts__map {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.contacts__button {
  width: 260px;
  margin: 0 30px;
  background-color: #ffffff;
  padding: 17px 0 15px 0;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 768px;
    position: relative;
    padding-bottom: 58px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;

    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 82px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      top: -16px;
      right: 50px;
    }
  }

  .contacts__container {
    width: 668px;
    margin: 0 auto;
  }

  .contacts__table {
    font-size: 17px;
    margin-top: 42px;
  }

  .contacts__table tbody {
    display: flex;
  }

  .contacts__table tr {
    width: 334px;
    display: flex;
    align-items: flex-start;
  }

  .contacts__value {
    padding: 0;
    margin-right: 26px;
  }

  .contacts__field--email {
    padding-top: 0;
  }

  .contacts__field--adress {
    padding: 0;
    margin-right: 50px;
  }

  .contacts__map {
    margin: 56px 0 48px 0;
    background-image: url("../img/map-tablet@1x.jpg");
    background-repeat: no-repeat;
    width: 768px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .contacts__map {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  .contacts__button {
    margin-left: 267px;
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    display: flex;
    width: 1050px;
    margin: 0 auto;
  }

  .contacts {
    width: 100%;
    padding-bottom: 42px;
  }

  .contacts__table {
    margin-left: 174px;
  }

  .contacts__table tr {
    margin-bottom: 28px;
  }

  .contacts__table tbody {
    display: block;
  }

  .contacts__container {
    width: 525px;
    margin: 0;
  }

  .contacts__field--adress {
    margin-right: 0;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    margin: 62px 0 0 169px;

    &::before {
      left: 113px;
      top: 53px;
    }
  }

  .contacts__map {
    background-image: url("../img/map-desktop@1x.jpg");
    width: 525px;
    min-height: 457px;
    margin-top: 0;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .contacts__map {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: 525px auto;
    }
  }

  .contacts__button {
    position: absolute;
    bottom: 105px;
    left: 19.6%;
    margin: 0;
  }
}
