.form-order__title {
  display: block;
  line-height: 17px;
  text-transform: uppercase;
  color: #63d1bb;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 198px;
    top: 8px;
    left: 62px;
    height: 1px;
    background-color: #63d1bb;
  }
}

.form-order__title--radio {
  margin-bottom: 33px;
}

.form-order__list--color {
  margin-bottom: 35px;
}

.form-order fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form-order {
  margin-top: 11px;
  line-height: 18px;
}

.form-order__wrapper {
  margin-top: 16px;
}

.form-order__input-radio,
.form-order__input-checkbox {
  display: none;
}

.form-order__item--checkbox {
  padding: 36px 0 7px 62px;
}

.form-order__label-checkbox {
  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -62px;
    border: 2px solid #444444;
    width: 36px;
    height: 35px;
  }

  &::after {
    position: absolute;
    content: "";
    top: -4px;
    left: -58px;
    background-image: url("../img/icon-tick.svg");
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
  }
}

.form-order__inner {
  margin-bottom: 19px;

  > input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000000;
    line-height: 18px;
    font-size: 17px;
    color: #444444;
    padding: 16px 0 15px 0;
  }
}

.form-order__item {
  padding: 0 0 24px 62px;
}

.form-order__item--fields {
  padding: 0;
}

.form-order__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-order__label {
  position: relative;
  line-height: 18px;
  margin-bottom: 23px;
}

.form-order__label--fields {
  display: block;
}

.form-order__title-name {
  margin-bottom: 29px;
}

.form-order__title-tel {
  margin: 8px 0 7px 0;
  position: relative;
}

.form-order__input-tel {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 27px;
    top: 0;
    right: 0;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
  }
}

.form-order__title-Email {
  margin: 13px 0 7px 0;

  &::before {
    width: 179px;
    left: 81px;
  }
}

.form-order__title-textarea {
  margin: 13px 0 24px 0;
}

.form-order__button {
  background-color: #ffffff;
  padding: 17px 45px 15px;
  margin-bottom: 55px;
}

.form-order__label-radio {
  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -62px;
    border: 2px solid #444444;
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 4px;
    left: -50px;
    background-color: #62d1ba;
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }
}

.form-order__input-fields {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  line-height: 18px;
  font-size: 17px;
  color: #444444;
  padding: 17px 0 14px 0;
}

.form-order__textarea {
  font-family: "Open Sans", "Arial", sans-serif;
  width: 88%;
  border: 2px solid #000000;
  line-height: 18px;
  font-size: 17px;
  color: #444444;
  padding: 16px 13px 15px;
}

.form-order__inner--bottom {
  margin: 0;
}

.form-order__necessarily {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin: 11px 0 31px 0;
}

@media (min-width: $tablet-width) {
  .form-order__inner {
    display: flex;
    width: 668px;
    padding-bottom: 8px;
    margin: 0 auto;
  }

  .form-order {
    font-size: 19px;
  }

  .form-order__wrapper-checkbox {
    width: 100%;
    background-color: #f1f1f1;
    padding-bottom: 54px;
  }

  .form-order__label-checkbox {
    padding-left: 79px;

    &::before {
      top: -15px;
      left: -1px;
      width: 50px;
      height: 48px;
    }

    &::after {
      top: 1px;
      left: 11px;
      background-image: url("../img/icon-tick.svg");
      width: 32px;
      height: 25px;
    }
  }

  .form-order__list--color {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 17px;
    width: 73%;
  }

  .form-order__list {
    width: 500px;
  }

  .form-order__title--checkbox {
    margin-top: 68px;
  }

  .form-order__wrapper-radio {
    margin-bottom: 9px;
  }

  .form-order__item {
    padding: 0 0 58px 0;
  }

  .form-order__item--checkbox {
    width: 250px;
    padding: 50px 0 7px 0;
  }

  .form-order__title {
    width: 168px;

    &::before {
      content: none;
    }
  }

  .form-order__label-radio {
    margin-left: 79px;

    &::before {
      top: -15px;
      left: -80px;
      width: 47px;
      height: 47px;
    }

    &::after {
      top: 1px;
      left: -64px;
      width: 20px;
      height: 20px;
    }
  }

  .form-order__label--fields {
    display: flex;
    align-items: baseline;
  }

  .form-order__wrapper-button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .form-order__inner {
    width: 1050px;
    margin: 0 auto;
  }

  .form-order__list {
    width: auto;
  }
}
