.form-order__title {
  display: block;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 198px;
    top: 8px;
    left: 62px;
    height: 1px;
    background-color: #63d1bb;
  }
}

.form-order__title--radio {
  margin: 0 0 33px 0;
}

.form-order__list--color {
  margin-bottom: 35px;
}

.form-order fieldset {
  border: none;
  margin: 0;
}

.form-order {
  width: 100%;
  margin-top: 11px;
  line-height: 18px;
}

.form-order__title--checkbox {
  margin: 4px 0 0 0;
}

.form-order__wrapper {
  margin-top: 16px;
}

.form-order__input-radio,
.form-order__input-checkbox {
  display: none;
}

.form-order__item--checkbox {
  padding: 36px 0 7px 62px;
}

.form-order__input-radio {
  + label::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -62px;
    border: 2px solid #444444;
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }

  &:checked + label::after {
    position: absolute;
    content: "";
    top: 4px;
    left: -50px;
    background-color: #62d1ba;
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }

  &:hover + label::before {
    border-color: #62d1ba;
  }

  &:active + label::before {
    border-color: #000000;
    opacity: 0.3;
  }
}


.form-order__input-checkbox {
  + label::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -62px;
    border: 2px solid #444444;
    width: 36px;
    height: 35px;
  }

  &:checked + label::before {
    border: 2px solid #000000;
  }

  &:hover + label::before {
    border-color: #62d1ba;
  }

  &:active + label::before {
    border-color: #000000;
    opacity: 0.3;
  }

  &:checked + label::after {
    position: absolute;
    content: "";
    top: -4px;
    left: -58px;
    background-image: url("../img/icon-tick.svg");
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
  }
}

.form-order__inner {
  input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000000;
    line-height: 18px;
    font-size: 17px;
    color: #444444;
    padding: 16px 13px 15px 0;
  }
}

.form-order__item {
  padding: 0 0 24px 62px;
}

.form-order__item--fields {
  padding: 0;
}

.form-order__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-order__label {
  position: relative;
  line-height: 18px;
  margin-bottom: 23px;
}

.form-order__label--fields {
  display: block;
}

.form-order__title-name {
  margin: 17px 0 29px 0;
}

.form-order__title-tel {
  margin: 2px 0 7px 0;
  position: relative;
}

.form-order__wrapper-svg {
  position: relative;
  fill: #cccccc;

  &:hover {
    fill: #62d1ba;
  }
}

.form-order__icon {
  position: absolute;
  top: 10px;
  right: -7px;
}

.form-order__title-Email {
  margin: 15px 0 7px 0;

  &::before {
    width: 179px;
    left: 81px;
  }
}

.form-order__title-textarea {
  margin: 16px 0 24px 0;
}

.form-order__button {
  background-color: #ffffff;
  padding: 17px 45px 15px;
  margin-bottom: 54px;
}

.form-order__wrapper-fields {
  padding-bottom: 0;
}

.form-order__input-fields {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  line-height: 18px;
  font-size: 17px;
  color: #444444;
  padding: 17px 13px 14px 0;

  &:hover {
    border-color: #62d1ba;
  }
}

.form-order__textarea {
  font-family: "Open Sans", "Arial", sans-serif;
  width: 93%;
  border: 2px solid #000000;
  line-height: 18px;
  font-size: 17px;
  color: #444444;
  padding: 16px 13px 15px;

  &:hover {
    border-color: #62d1ba;
  }
}

.form-order__inner--bottom {
  margin: 0;
}

.form-order__necessarily {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  margin: 0 0 30px 0;
}

.form-order__input-tel,
.form-order__input-Email {
  &:hover {
    border-color: #62d1ba;
  }
}

@media (min-width: $tablet-width) {
  .form-order__inner {
    display: flex;
    align-items: baseline;
    width: 668px;
    padding-bottom: 12px;
    margin: 0 auto;
  }

  .form-order__wrapper-radio {
    padding-bottom: 0;
    margin-bottom: 9px;
  }

  .form-order {
    margin-top: 3px;
    font-size: 19px;
    width: 100%;
  }

  .form-order__wrapper-checkbox {
    width: 100%;
    background-color: #f1f1f1;
    padding: 0 0 47px 0;
  }

  .form-order__wrapper-fields {
    padding: 47px 0 15px 0;
  }

  .form-order__input-checkbox {
    + label::before {
      top: -15px;
      left: -80px;
      width: 50px;
      height: 48px;
    }

    &:checked + label::after {
      top: 1px;
      left: -70px;
      width: 32px;
      height: 25px;
    }
  }

  .form-order__list--color {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 17px;

    :nth-child(2n) {
      width: 130px;
    }

    :nth-child(2n+1) {
      width: 261px;
    }
  }

  .form-order__list {
    width: 500px;
    margin-left: 10px;
  }

  .form-order__list--margin {
    margin: 0;
  }

  .form-order__title--checkbox {
    margin: 68px 98px 0 0;
  }

  .form-order__item {
    padding: 0 0 55px 0;
    margin-top: 3px;
  }

  .form-order__item--checkbox {
    padding: 51px 0 7px 0;
  }

  .form-order__input-fields {
    margin: 0 0 0 27px;
  }

  .form-order__icon {
    right: 12px;
  }

  .form-order__title-textarea {
    margin: 16px 10px 24px 0;
  }

  .form-order__title {
    width: 168px;

    &::before {
      content: none;
    }
  }

  .form-order__inner > input {
    padding: 16px 0 15px 16px;
    margin-left: 47px;
    background-color: #f1f1f1;
  }

  .form-order__label-radio {
    margin-left: 79px;
  }

  .form-order__input-radio {
    + label::before {
      top: -14px;
      left: -78px;
      width: 45px;
      height: 45px;
    }

    &:checked + label::after {
      top: 1px;
      left: -64px;
      width: 20px;
      height: 20px;
    }
  }

  .form-order__wrapper {
    margin: 0 auto;
  }

  .form-order__label--fields {
    display: flex;
    align-items: baseline;
    margin-bottom: -32px;
  }

  .form-order__wrapper-button {
    width: 668px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .form-order__fieldset-tel {
    padding: 50px 0 0 0;
    width: 100%;
    background-color: #f1f1f1;

    input {
      background-color: initial;
    }
  }

  .form-order__fieldset-E-mail {
    padding: 13px 0 38px 0;
    width: 100%;
    background-color: #f1f1f1;

    input {
      background-color: initial;
    }
  }

  .form-order__fieldset-textarea {
    padding: 48px 0 42px 0;
  }

  .form-order__textarea {
    width: 500px;
    font-size: 19px;
  }

  .form-order__button {
    padding: 17px 30px 15px;
    margin-bottom: 50px;
  }

  .form-order__wrapper-svg {
    width: 73%;
  }

  .form-order__necessarily {
    font-size: 17px;
    line-height: 30px;
    margin-top: 9px;
  }
}

@media (min-width: $desktop-width) {
  .form-order__inner {
    width: 1050px;
    margin: 0 auto;
    padding-bottom: 9px;

    input {
      width: 700px;
    }
  }

  .form-order__list--color {
    margin-left: 86px;
    width: 76.1%;
    margin-top: 0;

    :nth-child(2n) {
      width: 33%;
    }

    :nth-child(2n+1) {
      width: 33%;
    }
  }

  .form-order__wrapper-checkbox {
    padding: 0 0 52px;
  }

  .form-order__wrapper-svg {
    width: 68%;
  }

  .form-order__item--fields {
    width: 700px;
  }

  .form-order__fieldset-tel {
    padding-top: 53px;
  }

  .form-order__fieldset-E-mail {
    padding-top: 16px;
    padding-bottom: 41px;
  }

  .form-order__list--margin {
    margin: 0 0 0 6px;
  }

  .form-order__title {
    text-align: center;
    margin-right: 2px;
  }

  .form-order__textarea {
    width: 669px;
    padding-bottom: 16px;
    font-size: 20px;
  }

  .form-order__title-textarea {
    margin-right: 7px;
  }

  .form-order__wrapper-button {
    width: 710px;
  }

  .form-order__button {
    padding: 16px 31px 14px 29px;
    margin-left: 5px;
  }
}
