.process {
  position: relative;
  text-align: left;
  padding: 96px 0 58px 0;
  width: 260px;
  margin: 0 auto;
}

.process__wrapper-title {
  position: absolute;
  top: 0;
  margin: 11px 0 0 2px;
}

.process__container {
  border: 1px solid #ededed;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.process__title {
  font-size: 17px;
  line-height: 24px;
  margin-left: 88px;

  &::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url("../img/icon-video.svg");
    top: 21px;
    left: 32px;
  }
}

.process__inner {
  position: relative;
}

.process__icon-play {
  cursor: pointer;
  position: absolute;
  top: 25%;
  left: 31%;
  transform: translate(0, 0);
}

.process__text {
  margin: 22px 35px 25px 32px;
  font-weight: 400;
  font-size: 13px;
  color: #444444;
}

.process__button {
  margin-left: 33px;
  padding: 17px 25px 15px 23px;
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .process__button {
    padding: 17px 221px 15px 219px;
    margin: 0 0 32px 42px;
  }

  .process__wrapper-title {
    position: relative;
    margin-top: 23px;
  }

  .process__container {
    width: 668px;
    margin: 0 auto;
    padding-bottom: 13px;
  }

  .process {
    padding: 0 0 63px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .process__title {
    font-size: 20px;
    margin: 29px 0 0 105px;

    &::before {
      top: -6px;
      left: 41px;
    }
  }

  .process__text {
    margin: 32px 40px 35px 42px;
    font-size: 15px;
    line-height: 30px;
  }

  .process__inner {
    position: relative;
  }

  .process__icon-play {
    position: absolute;
    top: 40%;
    left: 43%;

     &:hover {
      width: 120px;
      height: 90px;
    }
  }
}

@media (min-width: $desktop-width) {
  .process {
    width: 100%;
    padding: 0;
    margin-bottom: 98px;
  }

  .process__container {
    width: 1050px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 0;
    flex-direction: row;
  }

  .process__title {
    margin: 95px 70px 0 75px;

    &::before {
      width: 200px;
      top: -54px;
      left: 80px;
    }
  }

  .process__text {
    margin: 33px 40px 34px 80px;
  }

  .process__icon-play {
    position: absolute;
    top: 40%;
    left: 43%;
    transition: 0.2s linear;

    &:hover {
      max-width: 120px;
      transform: translate(-9px, -5px);
    }

    &:active {
      opacity: 0.6;
      max-width: 80px;
      transform: translate(0, 0)
    }
  }

  .process__wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .process__button {
    margin: 12px 0 0 79px;
    padding: 15px 44px 17px 42px;
  }
}
