.short {
  display: flex;
  margin-bottom: 41px;
  margin-top: 65px;
  position: relative;
}

.short__container {
  width: 260px;
  margin: 0 auto;

  &::before {
    position: absolute;
    content: "";
    display: block;
    top: -16px;
    width: 260px;
    height: 6px;
    background: url("../img/bg-zigzag-line.svg") repeat-x;
    background-size: auto 6px;
  }
}

.short__title {
  margin-bottom: 0;
}

.short__list {
  line-height: 20px;
  list-style: none;
  text-align: left;
  padding: 0;
  margin-top: 6px;
}

.short__item {
  position: relative;
  margin-top: 83px;
  fill: $short-color-icon;

  > svg {
    position: absolute;
  }
}

.short__icon-money {
  top: -53px;
  left: 0;
}

.short__icon-flower {
  top: -55px;
  left: 8px;
}

.short__icon-heart {
  top: -48px;
  left: 7px;
}

.short__icon-ball {
  top: -51px;
  left: 3px;
}

.short__icon-rocket {
  top: -50px;
  left: -6px;
}

.short__icon-gift {
  top: -53px;
  left: 3px;
}

.short__item--clean {
  margin-top: 88px;
}


@media (min-width: $tablet-width) {
  .short {
    margin-bottom: 36px;
  }

  .short__container {
    width: 668px;
    margin: 0 auto;

    &::before {
      background-size: auto 16px;
      height: 20px;
      top: -31px;
      width: 668px;
    }
  }

  .short__title {
    margin-left: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .short__list {
    margin-top: 19px;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
  }

  .short__item {
    margin-bottom: 28px;
    font-size: 20px;
    line-height: 22px;
    width: 334px;
  }

  .short__item--ball {
    order: 2;
  }

  .short__item--clean {
    order: 1;
    margin-top: 86px;
  }

  .short__item--ru-price {
    order: 3;
  }

  .short__item--likes {
    order: 5;
  }

  .short__item--rocket {
    order: 4;
  }

  .short__item--gift {
    order: 6;
  }
}

@media (min-width: $desktop-width) {
  .short__item {
    margin-top: 83px;
    width: 350px;
  }

  .short__title {
    font-size: 53px;
    line-height: 57px;
  }

  .short {
    margin-bottom: 46px;
  }

  .short__container {
    width: 1050px;
    margin: 0 auto;

    &::before {
      background-size: auto 24px;
      height: 25px;
      width: 1050px;
      top: -40px;
    }
  }

  .short__wrapper {
    width: 700px;
    margin: 0 auto;
  }

  .short__list {
    width: 700px;
  }
}
