.best-product {
  width: 320px;
  margin-bottom: 150px;
  display: flex;
  text-align: center;
  position: relative;
}

.best-product__title {
  line-height: 30px;
  font-weight: 25px;
  margin-top: 28px;
  margin-right: 15px;
  margin-bottom: 3px;
}

.best-product__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px auto;
}

.best-product__tool-day {
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
  margin-right: 130px;
}

.best-product__description {
  font-size: 15px;
  text-align: left;
  margin-left: 30px;
  font-weight: 400;
  margin-top: 21px;
  margin-bottom: 20px;
}

.best-product-block-price {
  text-align: center;
  position: absolute;
  width: 334px;
  right: 0;
  bottom: 1px;
  flex-wrap: wrap;
  margin-top: 0;
}

.best-product__price {
  display: inline-block;
  margin-bottom: 39px;
}

.best-product__specification {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  margin-left: 29px;
  margin-bottom: 30px;
  border-collapse: collapse;
}

.best-product__value,
.best-product__field {
  padding: 8px 28px 10px 2px;
  border-bottom: 1px solid #ececec;
}

.best-product__item {
  width: 668px;
  margin: 0 0 18px 0 auto;
}

.best-product__description-wrapper {
  width: 334px;
}

.best-product__description,
.best-product__specification {
  margin-left: 0;
}

.best-product__inner {
  width: 668px;
  display: flex;
  justify-content: space-between;
}

@media (width: $desktop-width) {
  .best-product__inner {
    width: 1050px;
    margin: 0 auto;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .best-product-block-price {
    width: 334px;
    flex-wrap: wrap;
  }
}
