.visually-hidden {
  display: none;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  border: 2px solid #000000;
  padding: 12px 89px 13px 84px;
}
