.page-header {
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #ececec;
  width: 100%;
  margin: 0 auto;
}

.page-header__logo {
  display: flex;
  margin: 22px 0 15px 0;
}

.page-header__link:hover {
  opacity: 0.6;
}

.page-header__container {
  position: relative;
  margin: 0 30px auto;
}

.page-header__info {
  display: none;
  font-size: 15px;
  font-weight: 400;
  color: #444444;
  position: absolute;
  right: 11px;
  top: 106px;
}

@media (min-width: $tablet-width) {
  .page-header__container {
    width: 668px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .page-header__logo {
    justify-content: flex-start;
  }

  .page-header__info {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    width: 700px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .page-header__logo {
    margin-right: 20px;
    margin-left: 50px;
  }

  .page-header__info {
    right: 58px;
  }

  .page-header {
    width: 1150px;
  }

  .page-header__container {
    width: 1050px;
    padding: 0 50px;
  }
}
