.page-footer__wrapper {
  display: none;
}

.page-footer {
  background-color: #f1f1f1;
}

.page-footer__container {
  padding-bottom: 20px;
}

.page-footer__social {
  margin: 39px 10px 0 10px;
  padding: 26px 0 0 2px;
}

.page-footer__text {
  display: inline-block;
  margin-left: 69px;
  text-decoration: none;
  color: #000000;
  line-height: 18px;
  font-size: 19px;
  position: relative;
}

.page-footer__text::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 35px;
  top: -3px;
  left: 140px;
  background-repeat: no-repeat;
  background-image: url("../img/logo-htmlacademy.svg");
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: block;
  }

  .page-footer__container {
    width: 668px;
    margin: 0 50px auto;
    display: flex;
    justify-content: space-between;
  }

  .page-footer__social {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper,
  .page-footer__social,
  .page-footer__developed {
    width: 350px;
  }

  .page-footer__container {
    width: 1050px;
  }

  .page-footer__developed {
    display: flex;
    justify-content: flex-end;
  }
}
