.page-footer__wrapper {
  display: none;
}

.page-footer__container {
  width: 320px;
  background-color: #f1f1f1;
  padding-bottom: 20px;
}

.social__list {
  list-style: none;
  display: flex;
  margin-top: 67px;
  margin-left: 13px;
}

.social__item {
position: relative;
 margin-left: 20px;
}

.page-footer__social {
  margin: 41px 10px 0 10px;
  padding-top: 26px;
}

.social__link::after {
  content:"";
  position: absolute;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.social__link--instagram::after{
  background-image: url(../img/icon-insta.svg);
  top: -63px;
  left: 2px;
}

.social__link--facebook::after{
  background-image: url(../img/icon-fb.svg);
  top: -68px;
  left: 45px;
}

.social__link--twitter::after{
  background-image: url(../img/icon-twitter.svg);
  top: -63px;
  left: 79px;
}

.page-footer__text {
  display: inline-block;
  margin-left: 69px;
  text-decoration: none;
  color: #000000;
  line-height: 18px;
  font-size: 19px;
}

.page-footer__developed {
  position: relative;
}

.page-footer__text::before{
  content:"";
  position: absolute;
  width: 30px;
  height: 35px;
  top: -3px;
  left: 225px;
  background-repeat: no-repeat;
  background-image: url(../img/logo-htmlacademy.svg);
}
