.page-main_product-group {
  position: relative;
}

.page-main__title {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin-top: 51px;
}

.page-main__wrapper-title {
  background-color: #f1f1f1;
  padding: 20px 0 56px 0;
}

.page-main__items {
  position: relative;
  padding: 25px 153px 30px 30px;
  font-weight: 19px;
  line-height: 24px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  background-color: #63d1bb;
}

.page-main__inner {
  display: block;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 52px 10px 100px 10px;
}

.page-main__wrapper {
  background-color: #fafafa;
  width: 320px;
}

.page-main__items--toys {
  background-color: #56c3b2;
}

.page-main__items--interior::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 60px;
  right: 5px;
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.page-main__items--toys::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 60px;
  right: 10px;
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.page-main__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-main__container {
  width: 320px;
}

@media (min-width: 768px) {
  .page-main__inner {
    background-image: url("../img/hero-tablet@1x.jpg");
  }

  .page-main__container {
    width: 768px;
    margin: 0 auto;
  }

  .page-main__wrapper,
  .page-main__wrapper-title {
    width: 100%;
    margin: 0 auto;
  }

  .page-main__wrapper-catalog {
    width: 668px;
    margin: 0 50px auto;
  }

  .page-main__list {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .page-main_product-group {
    margin: 0 50px auto;
  }

  .page-main__title {
    font-size: 43px;
    line-height: 50px;
  }

  .page-main__item-tool {
    width: 334px;
  }
}

@media (min-width: 1150px) {
  .page-main__wrapper {
    width: 100%;
    margin: 0 50px auto;
  }

  .page-main__list {
    width: 1050px;
    margin: 0 auto;
  }

  .page-main__title {
    font-size: 53px;
    line-height: 57px;
  }

  .page-main__item-tool {
    width: 525px;
  }
}
