.page-main_product-group {
  position: relative;
}

.page-main__title {
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 21%;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
}

.page-main__wrapper--color {
  background-color: #f1f1f1;
}

.page-main__title--index {
  padding: 70px 26px 123px 8px;
  background-image: url("../img/hero-mobile@1x.jpg");
}

.page-main__container-title {
  margin-bottom: 31px;
}

.page-main__title--catalog {
  padding: 71px 20px 74px 5px;
}

.page-main__text {
  font-weight: 400;
  font-size: 13px;
  color: #444444;
  margin: 23px 15px 13px 0;
}

.page-main__wrapper--form {
  width: 260px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.page-main__wrapper-catalog {
  margin-top: 30px;
}

.page-main__title-form {
  padding: 51px 0 19px 0;
}

.page-main__wrapper-title {
  background-color: #f1f1f1;
  padding: 29px 0 0 0;
  margin: 0 auto;
}

.page-main__items {
  position: relative;
  padding: 25px 153px 30px 30px;
  font-size: 19px;
  line-height: 24px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  background-color: #63d1bb;
}

.page-main__items--toys {
  background-color: #56c3b2;
}

.page-main__items--interior::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 63px;
  right: 7px;
  top: 21px;
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.page-main__items--toys::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 60px;
  right: 17px;
  top: 20px;
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.page-main__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-main__wrapper {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-main__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    margin: 72px 86px 62px 51px;
  }

  .page-main__wrapper--form {
    width: 100%;
  }

  .page-main__wrapper {
    padding: 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 100px;
      width: 100%;
      top: -42px;
      left: 0;
      background-color: #f1f1f1;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 20px;
      background-image: url("../img/bg-zigzag-fill.svg");
      z-index: 100;
      background-size: 768px 26px;
      bottom: -6px;
      left: 0;
    }
  }

  .page-main__wrapper-title {
    padding: 0;
  }

  .page-main__wrapper-catalog {
    width: 668px;
    margin: 0 auto;
  }

  .page-main__list {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .page-main__title {
    font-size: 43px;
    line-height: 50px;
  }

  .page-main__title--catalog {
    font-size: 43px;
    line-height: 50px;
    padding: 55px 67px 79px 48px;
  }

  .page-main__title--index {
    background-image: url("../img/hero-tablet@1x.jpg");
    padding: 112px 67px 372px 25px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-tablet@2x.jpg");
    background-size: 1338px auto;
  }

  .page-main__items {
    padding: 32px 153px 40px 34px;
  }

  .page-main__item-tool {
    width: 334px;
  }

  .page-main__container-title {
    margin-bottom: 78px;
  }

  .page-main__items--interior {
    &::before {
      top: 30px;
    }

    &:hover,
    &:focus {
      padding-top: 20px;
      background-color: #63d1bb;

      &::after {
        position: absolute;
        left: 0;
        bottom: 100%;
        width: 100%;
        height: 5px;
        content: "";
        background-color: #63d1bb;
      }

      &::before {
        top: 27px;
      }
    }
  }

  .page-main__items--toys {
    &::before {
      right: 25px;
      top: 32px;
    }

    &:hover,
    &:focus {
      padding-top: 20px;
      background-color: #56c3b2;

      &::after {
        position: absolute;
        left: 0;
        bottom: 100%;
        width: 100%;
        height: 5px;
        content: "";
        background-color: #56c3b2;
      }

      &::before {
        top: 27px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .page-main__wrapper {
    &::before {
      content: none;
    }

    &::after {
      background-size: 1150px 34px;
      bottom: 0;
      left: 0;
    }
  }

  .page-main__container {
    width: 1050px;
    margin: 0 auto;
  }

  .page-main__container-title {
    margin-bottom: 130px;
  }

  .page-main__title--catalog,
  .page-main__title-form {
    padding: 96px 70px 100px 25px;
  }

  .page-main__title--index {
    background-image: url("../img/hero-desktop@1x.jpg");
    padding: 155px 67px 357px 25px;
  }

  .page-main__title {
    font-size: 53px;
    line-height: 57px;
    background-position: 50% 1%;
  }

  .page-main__items {
    font-size: 20px;
    line-height: 30px;
    padding: 29px 153px 30px 37px;
  }

  .page-main__item-tool {
    width: 525px;
  }

  .page-main__text {
    margin: 123px 194px 62px 175px;
  }
}
