.process {
  position: relative;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  text-align: left;
  padding: 100px 0 58px 0;
  width: 260px;
  margin: 0 auto;
}

.process__wrapper-title {
  position: absolute;
  top: 0;
  margin-top: 23px;
}

.process__title {
  font-size: 17px;
  line-height: 24px;
  margin-left: 88px;

  &::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url("../img/icon-video.svg");
    top: 5px;
    left: 32px;
  }
}

.process__text {
  margin: 31px 48px 23px 32px;
  font-weight: 400;
  font-size: 13px;
  color: #444444;
}

.process__button {
  margin-left: 34px;
  padding: 17px 23px 15px;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .process__button {
    padding: 17px 180px 15px;
  }

  .process__wrapper-title {
    position: relative;
    margin-top: 23px;
  }

  .process {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 1150px) {
  .process {
    display: flex;
    flex-direction: row;
  }

  .process__inner {
    width: 680px;
  }

  .process__wrapper {
    width: 230px;
    margin: 0 auto;
  }

  .process__button {
    padding: 17px 15px;
  }
}
