.reviews {
  display: flex;
  position: relative;
}

.reviews__wrapper {
  padding-left: 30px;
  position: relative;
}

.reviews__item {
  margin: 0;
}

.reviews__title {
  margin: 0;
}

.reviews__text {
  display: inline-block;
  margin-top: 26px;
  margin-right: 23px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}

.reviews__author-name {
  margin: 11px 0 7px 0;
}

.reviews__nick-name {
  display: block;
  margin-bottom: 32px;
}

.reviews__prev,
.reviews__next {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #ececec;
  padding: 25px 65px;
}

.reviews__prev::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 30px;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  top: 13px;
  left: 41px;
}

.reviews__next::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 30px;
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  top: 13px;
  right: 41px;
}

.reviews__button-slider {
  position: relative;
  margin-bottom: 52px;
}

.reviews__button {
  border-color: #444444;
  padding-left: 77px;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 768px;
    margin: 0 auto;
  }

  .reviews__container {
    width: 668px;
    margin: 0 50px auto;
  }

  .reviews__wrapper {
    padding-left: 0;
  }

  .reviews__button {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 40px;
    padding-right: 40px;
  }

  .reviews__button-slider {
    position: absolute;
    right: 0;
    top: 200px;
  }

  .reviews__prev,
  .reviews__next {
    border: none;
  }
}
