.reviews {
  margin-bottom: 87px;
  display: flex;
  justify-content: center;
  position: relative;
}

.reviews__wrapper {
  position: relative;
}

.reviews__container {
  width: 260px;
  margin: 0 30px auto;

  &::before {
    position: absolute;
    content: "";
    display: block;
    bottom: -51px;
    width: 260px;
    height: 6px;
    background: url("../img/bg-zigzag-line.svg") repeat-x;
    background-size: auto 7px;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__title {
  margin: 0;
}

.reviews__text {
  display: inline-block;
  margin-top: 26px;
  margin-right: 1px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}

.reviews__author-name {
  margin: 11px 0 7px 0;
}

.reviews__nick-name {
  display: block;
  margin-bottom: 32px;
}

.reviews__prev {
  margin-right: -5px;

  &::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 30px;
    background-image: url("../img/icon-left-arrow.svg");
    background-repeat: no-repeat;
    top: 13px;
    left: 37px;
  }
}

.reviews__next {
  margin-left: -5px;

  &::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 30px;
    background-image: url("../img/icon-right-arrow.svg");
    background-repeat: no-repeat;
    top: 13px;
    right: 20px;
  }
}

.reviews__prev,
.reviews__next {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #ececec;
  padding: 25px 65px;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

.reviews__button-slider {
  position: relative;
  margin-bottom: 38px;
}

.reviews__button {
  border-color: #444444;
  padding: 16px 84px 16px 77px;
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-bottom: 147px;
    padding: 62px 0 16px 0;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__text {
    font-size: 17px;
    margin-bottom: 47px;
  }

  .reviews__item {
    margin-top: 21px;
    margin-right: 50px;
  }

  .reviews__container {
    width: 668px;
    margin: 0 auto;

    &::before {
      background-size: auto 16px;
      height: 20px;
      width: 668px;
      bottom: -90px;
    }
  }

  .reviews__wrapper {
    padding-left: 0;
    margin-top: 17px;
  }

  .reviews__author-name {
    font-size: 18px;
  }

  .reviews__button {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 36px;
    padding-right: 40px;
  }

  .reviews__button-slider {
    position: absolute;
    right: 0;
    top: 275px;
  }

  .reviews__prev {
    border: none;
    padding: 25px 50px;

    &::before {
      left: 39px;
    }
  }

  .reviews__next {
    border: none;
    padding: 25px 50px;

    &::after {
      right: -1px;
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    margin-bottom: 164px;
    padding: 0;
    width: 100%;
    background-image: none;
  }

  .reviews__container {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    width: 1050px;
    padding: 60px 0 64px 0;

    &::before {
      background-size: auto 20px;
      height: 20px;
      bottom: -85px;
      width: 1050px;
    }
  }

  .reviews__wrapper {
    margin-left: 174px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__item {
    margin-top: 21px;
    margin-right: 100px;
  }

  .reviews__button {
    margin-top: 7px;
  }

  .reviews__button-slider {
    top: 236px;
  }

  .reviews__text {
    margin: 26px 15px 29px 0;
  }
}
