.social__list {
  width: 260px;
  list-style: none;
  display: flex;
  margin-top: 67px;
  margin-left: 13px;
}

.social__item {
  position: relative;
  margin-left: 20px;
}

.social__link {
  position: relative;

  &:hover {
    fill: #46c1ae;
  }

  &:focus {
    opacity: 0.3;
  }
}

.social__icon-instagram {
  position: absolute;
  top: -62px;
  left: 9px;
}

.social__icon-facebook {
  position: absolute;
  top: -67px;
  left: 52px;
}

.social__icon-twitter {
  position: absolute;
  top: -62px;
  left: 86px;
}


@media (min-width: $tablet-width) {
  .social__icon-instagram {
    top: -12px;
    left: 52px;
  }

  .social__icon-facebook {
    top: -18px;
    left: 95px;
  }

  .social__icon-twitter {
    top: -12px;
    left: 129px;
  }
}
