@import "variables";
@import "page-header";
@import "main-nav";
@import "best-product";
@import "content";
@import "page-main";
@import "contacts.scss";
@import "page-footer";
@import "short";
@import "reviews";
@import "products";
@import "process";
@import "site-list";
@import "social-list";

body {
  min-width: 320px;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  padding: 0;
  margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: $desktop-width) {
  body {
    width: 1150px;
  }
}
