@import "variables.scss";
@import "page-header.scss";
@import "main-nav.scss";
@import "site-list.scss";
@import "page-main.scss";
@import "best-product.scss";
@import "short.scss";
@import "reviews.scss";
@import "contacts.scss";
@import "process.scss";
@import "products.scss";
@import "form-order.scss";
@import "page-footer.scss";
@import "social.scss";
@import "content.scss";
@import "modal.scss";
@import "normalize.scss";

body {
  width: 100%;
  background-color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  padding: 0;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
